.exam-submit-btn {
	background-color: var(--primary-pruple);
	color: aliceblue;
}

.exam-submit-btn:hover {
	background-color: var(--secondary-purple);
	color: aliceblue;
}

.flag-btn {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.flag-btn i {
	color: inherit;
}

.questions-indicator {
	color: var(--primary-pruple);
}

/* .flagged-question-title {
} */

.custom-form-check-input:checked {
	border-color: var(--secondary-purple);
	background-color: var(--primary-pruple);
}

.prev-btn, .next-btn{
    background: none;
	border: none;
    cursor: pointer;
}

.prev-btn i, .next-btn i {
	color: inherit;
}

.prev-btn, .next-btn:hover{
    color: var(--secondary-purple);
}

/* general */
.primary-purple {
	color: var(--primary-pruple);
}
