@media (max-width: 768px) {
    .login-card {
        max-height: 50%;
    }

    .form-control {
        width: 90%;
    }
}

body {
    padding: 0%;
    margin: 0%;
}

h1 {
    font-weight: bold;
    padding: 15px;
}

.login-card-container {
    /* background-image: url(../imgs/new.jpg); */
    background-image: url(../imgs/luke-chesser-eICUFSeirc0-unsplash.jpg);
    background-size: cover;
}

.login-card {
    width: 60%;
    /* height: 80%; */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px var(--primary-pruple);
    background-color: #ffffff8f;
}

.login-btn {
    background-color: var(--primary-pruple);
    color: var(--primary-text);
    /* font-weight: bold; */

}

.login-btn:hover,
.login-btn:active,
.login-btn:focus {
    color: var(--primary-text);
    /* font-weight: bold; */
    background-color: var(--secondary-purple);
}


.register-link {
	font-weight:800;
	text-decoration: none;
	color: var(--secondary-purple);
}
.register-link {
	color: var(--primary-pruple);
}


input:focus {
    outline: none !important;
    box-shadow: 0 0 5px var(--secondary-purple) !important;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}
.register-link {
	font-weight:bold;
	text-decoration: none;
	color: var(--secondary-purple);
}
.register-link:hover {
	color: var(--primary-pruple);
}

/* .resgister {
    padding: 10px;
}

.resgister span {
    font-weight: bold;
    color: var(--primary-pruple);
    font-weight: bold;
} */