html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.wlcome-page-container {
    padding: 20px;
    height: 100%;
}

.sidebar {
    width: 250px;
    /* background-color: var(--primary-pruple); */
    box-shadow: 0 4px 10px var(--primary-pruple);
    font-weight: bold;
    border-radius: 20px;
    padding: 15px 0;
}

li {
    padding: 10px;
}


a {
    text-decoration: none;
    text-align: center;
}

a svg {
    margin-bottom: 5px;
}

.side-link {
    /* color: aliceblue; */
    color: var(--primary-pruple);
    padding: 10px;
    display: block;
    width: 100%;
    text-align: center;
}

.side-link.side-link-active{
    width: 150px;
    background-color: var(--primary-pruple);
    color: var(--primary-text);
    border-radius: 20px;
}

.logo {
    padding-top: 10px;
    /* color: aliceblue; */
    color: var(--primary-pruple);
}

.side-link:hover {
    width: 150px;
    background-color: var(--primary-pruple);
    color: var(--primary-text);
    border-radius: 20px;
}

.toggle-btn,
.toggle-btn:focus {
    background-color: var(--primary-pruple);
}


h1 {
    color: var(--main-paragraph);
}

h1 span {
    color: var(--primary-pruple);
    text-decoration: underline;
    text-decoration-color: var(--secondary-purple);
}

.content {
    text-align: center;
}

.welcome-page-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exam-btn {
    background-color: var(--primary-pruple);
    color: var(--primary-text);
    font-weight: bold;

}

.exam-btn:hover {
    background-color: var(--secondary-purple);
    color: var(--primary-text);
}

.signup-btn {
    width: 80%;
    background-color: var(--primary-pruple);
    color: var(--primary-text);
    font-weight: bold;
    align-self: center;

}

.signup-btn:hover,
.signup-btn:active,
.signup-btn:focus {
    background-color: var(--secondary-purple);
    color: var(--primary-text);
    font-weight: bold;
}