/* html,
body {
    height: 100%;
    width: 100%;
}

.wlcome-page-container {
    padding: 20px;
    height: 100%;
}

.sidebar {
    width: 250px;
    max-height: 100%;
    background-color: #6837f0e0;
    font-weight: bold;
    border-radius: 20px;
}

li {
    padding: 10px;
}


.side-link {
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
}

.logo {
    padding-top: 10px;
    color: aliceblue;
}



.side-link:focus {
    background-color: #7e30f2bd;
    border-radius: 20px;
} */



html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.wlcome-page-container {
    padding: 20px;
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: var(--primary-pruple);
    font-weight: bold;
    border-radius: 20px;
    padding: 15px 0;
}

li {
    padding: 10px;
}


a {
    text-decoration: none;
}

.side-link {
    color: aliceblue;
    padding: 10px;
    display: block;
    width: 100%;
    text-align: center;
}

.logo {
    padding-top: 10px;
    color: aliceblue;
}

.side-link:focus {
    width: 150px;
    background-color: rgba(240, 248, 255, 0.871);
    border-radius: 20px;
    color: var(--primary-pruple);
}

.toggle-btn,
.toggle-btn:focus {
    background-color: var(--primary-pruple);
}


h1 {
    color: var(--main-paragraph);
}

h1 span {
    color: var(--primary-pruple);
    text-decoration: underline;
    text-decoration-color: var(--secondary-purple);
}

.content {
    text-align: center;
}

.welcome-page-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exam-btn {
    background-color: var(--primary-pruple);
    color: aliceblue;

}

.exam-btn:hover {
    background-color: var(--secondary-purple);
    color: aliceblue;
}